{% extends "base.html" %}

{% block title %}Add new item to the store{% endblock %}

{% block content %}

   <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/storehome/"><i class="fa fa-home"></i> Home</a>
                        <span>Add new Item</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

<hr>
 <div align="center">

       <label>{{ lblResult }}</label><br>

<table class="shop__cart__table">
    <tr>
      <td>

        <!-- MAIN ENTERING FORM-->
        <form action="/InsertNewItems/" method="post">

        {% csrf_token %}
          <table>
            <tr><td><label for="itemId"><b>Item ID</b></label></td><td>
            <input type="text" placeholder="e.g. abc123" name="itemId" required></td></tr>

            <tr><td><label for="itemname"><b>Game Name</b></label></td><td>
            <input type="text" placeholder="The game name" name="itemname" required></td></tr>

            <tr><td><label for="shortname"><b>Nick Name</b></label></td><td>
            <input type="text" placeholder="Game's Nickname" name="shortname" required></td></tr>

            <tr><td><label for="description" ><b>Description</b></label></td><td>
            <input type="textarea" placeholder="Short deescription about the game" name="description" required
              style="width: 300pt"></td></tr>

            <tr><td><label for="Quantity"><b>Stock</b></label></td><td>
            <input type="text" placeholder="e.g. 10" name="Quantity" required style="width: 50pt"> &nbsp;  item(s)</td></tr>

            <tr><td><label for="orginalprice"><b>Buying Price</b></label></td><td>
            <input type="text" placeholder="in SR" name="orginalprice" required style="width: 50pt"> &nbsp; SR</td></tr>

            <tr><td><label for="sellingprice"><b>Selling Price</b></label></td><td>
            <input type="text" placeholder="in SR" name="sellingprice" required style="width: 50pt"> &nbsp; SR</td></tr>

            <tr><td><label for="category"><b>Category ID</b></label></td><td>
            <input type="text" placeholder="e.g. 0" name="category" required style="width: 50pt"></td></tr>

            <tr><td><label for="hight"><b>Box Hight</b></label></td><td>
            <input type="text" placeholder="" name="hight" required style="width: 50pt"> &nbsp; cm</td></tr>

            <tr><td><label for="width"><b>Box Width</b></label></td><td>
            <input type="text" placeholder="" name="width" required style="width: 50pt"> &nbsp; cm</td></tr>

            <tr><td><label for="length"><b>Box Length</b></label></td><td>
            <input type="text" placeholder="" name="length" required style="width: 50pt"> &nbsp; cm</td></tr>

            <tr><td><label for="weight"><b>Box Weight</b></label></td><td>
            <input type="text" placeholder="" name="weight" required style="width: 50pt"> &nbsp; g</td></tr>

            <tr><td><label for="minplayer"><b>Min Player</b></label></td><td>
            <input type="text" placeholder="Lowest allowed players" name="minplayer" required></td></tr>

            <tr><td><label for="maxplayer"><b>Max Player</b></label></td><td>
            <input type="text" placeholder="Max allowed players" name="maxplayer" required></td></tr>

            <tr><td><label for="playtime"><b>Play Time</b></label></td><td>
            <input type="text" placeholder="" name="playtime" required style="width: 50pt">&nbsp; mints</td>

             <tr><td><label for="imagePath"><b>Image Link</b></label></td><td>
            <input type="text" name="imagePath" style="width: 200pt"></td>


          </table>

          <!-- File upload -- input type="hidden" name="imagePath" value="{{ file_url }}" -->

          <br>
          <input class="site-btn" type="submit" value="Add the game to Market"/>

        </form>
      </td>

      <td width="60pt"></td>
      <td>
        <!--Simple Form-->
        {# include 'uploadImage.html'#}

        {% if ImageDB_id %}
          <div align="center">
              <img src="data:image;base64,{{ theImage }}">
          </div>
        <br>
        {% else %}
        <p>No Picture was provided for this item.</p>
        {% endif %}

      </td>
    </tr>
</table>

        <br>


      <br>
      <br>

        <br>
</div>


{% endblock %}