{% extends "base.html" %}

{% block title %}Edit users{% endblock %}

{% block content %}

    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/storehome/"><i class="fa fa-home"></i> Home</a>
                        <span>Edit Users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


 <div align="center">
    <label class="WorningLabel" id="lblMsg">{{ lblResult }}</label>

    {% if ItemsList %}
        <hr>
        <table class="user__edit__table">
            <tr><th class="thead">&nbsp;ID&nbsp;</th><th class="thead">&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;</th><th>&nbsp;Accepted?&nbsp;</th><th>&nbsp;&nbsp;email&nbsp;&nbsp;</th><th>&nbsp;phone&nbsp;</th>
                <th>Email Verified&nbsp;</th><th>&nbsp;Privlage&nbsp;</th><th>&nbsp;Commands&nbsp;</th></tr>
        {% for anItem in ItemsList %}

            <tr class=".user">

                <td class="useredit">{{ anItem.0 }}</td> <!-- ID -->
                <td class="tbody">{{ anItem.3 }}</td> <!--! NAME -->
                {% if anItem.7 == 1 %}
                <td class="useredit">YES</td> <!-- Accept -->
                {% else %}
                <td class="useredit">NO</td> <!-- Accept -->
                {% endif %}
                <td >{{ anItem.4 }}</td> <!--! Email -->
                <td class="useredit">{{ anItem.8 }}</td> <!-- Phone -->
                {% if anItem.6 == 1 %}
                <td class="useredit">YES</td> <!-- Email v -->
                {% else %}
                <td class="useredit">NO</td> <!-- Email v -->
                {% endif %}
                {% if anItem.9 == 0 %}
                    <td class="useredit">Normal</td> <!--! Privlage -->
                {% elif anItem.9 == 1 %}
                    <td class="useredit">Admin</td> <!--! Privlage -->
                {% elif anItem.9 == 2 %}
                    <td class="useredit">Editer</td> <!--! Privlage -->
                {% else %}
                    <td class="useredit">anItem.9</td> <!--! Privlage -->
                {% endif %}
                <td ><form method="post" action="/updateUser/"> {% csrf_token %}
                        <input class="site-btn" type="submit" value="Accept" name="action">&nbsp;&nbsp;
                        <input class="site-btn" type="submit" value="Promote" name="action">
                        <input class="site-btn" type="submit" value="DePromote" name="action">
                        <input type="hidden" name="userID" value="{{ anItem.0 }}"/>
                        <input type="hidden" name="Privlage" value="{{ anItem.9 }}"/>
                    </form></td>
            </tr>

        {% endfor %}
        </table>
    {% else %}
        <div>
            There are no users to edit.
        </div>
    {% endif %}

        </div>
<hr>
<h3 style="padding-left: 30pt; color: red;">Rights legend:</h3>
    <lu style="padding-left: 50pt">
        <li style="padding-left: 50pt">Normal: has nothing and can see only the store items.</li>
        <li style="padding-left: 50pt">Admin: has the full right on the website.</li>
        <li style="padding-left: 50pt">Editor: Can edit and add items to the store.</li>
    </lu>

{% endblock %}