{% extends "base.html" %}

{% block title %}Register new user{% endblock %}

{% block content %}


   <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/storehome/"><i class="fa fa-home"></i> Home</a>
                        <span>Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

<hr>
 <div align="center">

<h2> Welcome to the GamingGeek Family </h2>

<p> Please enter your information to register in the system </p>
<br>
<form action="/addNewUser/" method="post">

  <div align="center">
    {% csrf_token %}
    <table>
        <tr><td><label  for="Name"><b>Real Name</b></label></td><td>
        <input style="width:200pt;" type="text" placeholder="Please enter your name" name="Name" required></td></tr>

        <tr><td><label for="username"><b>User Name</b></label></td><td>
        <input style="width:200pt;" type="text" placeholder="Enter a user name" name="username" required></td></tr>

        <tr><td><label for="password"><b>Password</b></label></td><td>
        <input style="width:200pt;" type="password" name="password" required></td></tr>

        <tr><td><label for="password_C"><b>Password Confirm</b></label></td><td>
        <input style="width:200pt;" type="password" name="password_C" required></td></tr>

        <tr><td><label for="email"><b>Email</b></label></td><td>
        <input style="width:200pt;" type="email" placeholder="Enter your contact email address" name="email" required></td></tr>

        <tr><td><label for="email_c"><b>Email Confirm</b></label></td><td>
        <input style="width:200pt;" type="email" placeholder="RE-Enter your email address" name="email_c" required></td></tr>

        <tr><td><label for="phone"><b>Phone Number</b></label></td><td>
        <input type="text" placeholder="05XXXXXXXX" name="phone"></td></tr>

    </table>

        <br>
    <input class="site-btn" type="submit"/>

      <br>
    <label>{{ lblResult }}</label>

  </div>

{% endblock %}